$nav-color: rgb(45, 51, 59);
$mobile-content: rgb(45, 51, 59);
$dark: rgb(28, 33, 40);
$dark1: rgb(34, 39, 45);
$font-light: rgb(172, 186, 199);
$font-grey: #768390;
$font-grey2: rgb(99, 110, 123);
$icon-background: rgb(143, 157, 171);
$green: rgb(52, 124, 57);
$white: rgb(255, 255, 255);
$search: #22272e;
$search-border: #444c56;
$blue: rgb(153, 200, 255);
$border-color: #373e47;
